body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: #151d28;
    background-color: #f9fbff;
}
:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*===============HEADER START================*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
/*===============HEADER END================*/

/*===============INTRO START================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 768px;
    color: #f9fbff;
    background: url(../img/intro.jpg) right no-repeat;
}

.intro__title {
    margin-bottom: 30px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 128px;
    line-height: 1.1;
    color: #415167;
}

.intro__title1 {
    color: #f9fbff;
    background-color: #c7a17a;
    width: 337px;
}
/*===============INTRO END================*/

/*===============FEATURES START===============*/
.subtitle {
    margin-top: 100px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 25px;
}

.features__topic {
    font-weight: bold;
    font-size: 24px;
}

.features__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
/*===============FEATURES END===============*/

/*===============WORKS START===============*/
.works__bg {
}

.work__item {
    background: #f9fbff;
}

.work__price {
    padding-top: 42px;
    font-family: Nunito;
    font-weight: 600;
    font-size: 20px;
    color: #c7a17a;
}

.work__title {
    padding-top: 8px;
    font-family: Nunito;
    font-weight: bold;
    font-size: 24px;
    color: #232c38;
}

.work__subtitle {
    padding-top: 24px;
    padding-bottom: 18px;
    font-family: Nunito;
    font-weight: 300;
    font-size: 16px;
    color: #151d28;
}

.work__details {
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: #415167;
    display: inline-block;
    text-decoration: none;
}
/*===============WORKS END===============*/

/*===============GIFTSET START===============*/
.giftset__item {
    display: flex;
}

.giftset__bio__both {
    display: flex;
}

.work__bio__2 {
    padding: 0 50px;
}

.work__bio__title {
    font-weight: 300;
    font-size: 16px;
    color: #415167;
    opacity: 0.7;
}

.work__bio__subtitle {
    font-weight: 300;
    font-size: 16px;
    color: #415167;
}
/*===============GIFTSET END===============*/

/*===============FOOTER START===============*/
.footer{
    background: #232c38;
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #f9fbff;
    border:.1rem solid rgba(255,255,255,.3);
    border-radius: 50%; 
    margin: 0.3rem;
    transition: all linear 0.3s;
}

.footer .share a:hover{
    text-decoration: none;
    color: #c7a17a;
    background-color: #f9fbff;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rm;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fafafa;
    border: 1px solid #fafafa;
    font-size: 2rem;
    transition: all linear 0.3s;
     
    margin: 0.3rem;
}
.footer .links a:hover{
    text-decoration: none;
    color: #c7a17a;
    background-color:#fafafa;
}
.footer .credit{
    font-size: 2rem;
    color: #fafafa;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: #c7a17a;

}
/*===============FOOTER END===============*/
